<footer class="footer">
	<div class="container">
		<div class="b-nav wow fadeInUp" data-wow-delay=".1s">
			<a href="#">首 页</a>           
			<a href="#">案列欣赏</a>           
			<a href="#">新闻资讯</a>           
			<a href="#">关于我们</a>           
			<a href="#">联系我们</a>
		</div>
		<p class="wow fadeInUp" data-wow-delay=".3s">Copyright © 2011-2016 设计公司 | 创意设计公司</p>
		<p class="wow fadeInUp" data-wow-delay=".5s">京ICP备13018480号-1</p>
	</div>
</footer>
<script src="../../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/owl.carousel.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jquery.sidr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/picturefill.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.bootcss.com/wow/1.1.2/wow.js" type="text/javascript" charset="utf-8"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
</body>
</html>