</head>
<body>
<nav class="navbar" style="background-color:#2a3131;">
		<div class="container">
			<h1 class="pull-left logo" style="margin-left:-150px;">
				<!-- <img src="../../img/logo.png"/> -->
				<img src="../../img/top.png" />
			</h1>
			<ul class="nav " >
				<li><a href="{:url('index/index/index')}" style="color:#ffffff;">首页</a></li>
				<li><a href="{:url('index/index/al')}" style="color:#ffffff;">案例欣赏</a></li>
				<li><a href="{:url('index/index/xw')}" style="color:#ffffff;">新闻资讯</a></li>
				<li><a href="{:url('index/index/ab')}" style="color:#ffffff;">关于我们</a></li>
				<li><a href="{:url('index/index/lx')}" style="color:#ffffff;">联系我们</a></li>
				<!-- <li style="float:left;margin-top:20px;margin-left:-10px;">
					<img src="../../img/phone2.png" style="width:30px;height:30px;" />
					<span style="color:#72c4a2;font-size:16px;"><b>18588730126</b></span>
				</li> -->
			</ul>
		
			<div class="nav-logo" id="left-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>			
	</nav>
	<div class="mobile-nav" id="sidr-left">
		<ul>
		    <li><a href="{:url('index/index/index')}">首页</a></li>
				<li><a href="{:url('index/index/al')}">案例欣赏</a></li>
				<li><a href="{:url('index/index/xw')}">新闻资讯</a></li>
				<li><a href="{:url('index/index/ab')}">关于我们</a></li>
				<li><a href="{:url('index/index/lx')}">联系我们</a></li>
		</ul>
	</div>
	<div class="ad clearfix wow slideInDown" >
		<div id="owl-demo" class="owl-carousel">
			<div class="item">
            	<img src="../../img/1.1.jpg"/>
            </div>
            <div class="item">
            	<img src="../../img/02.jpg"/>
            </div>
		</div>
	</div>