<!--/hearder 作为公共模版分离出去-->
{include file="common/hearder"}
<title>关于我们</title>		
{include file="common/top"}
<!--/hearder 作为公共模版分离出去-->
		
	<section class="container page clearfix">
		<div class="page-tit wow fadeInUp">关于我们</div>
		<div class="ab-txt">
			<div class="txt01">
				<p class="wow fadeInUp" data-wow-delay=".3s">{$content}</p>
			</div>
			<section class="value-box">
				<div class="container clearfix">
					<div class="value-txt">
						<h2 class="wow bounceIn">{$centent_title}</h2>
						<p class="wow fadeInUp" data-wow-delay=".3s">{$centent_content}</p>
					</div>				
				</div>
			</section>
		</div>
	</section>
	<section class="team-box">
		<div class="container">
			<div class="title">
				<h2 class="wow fadeInUp">关于我们的团队</h2>
				<p class="wow fadeIn" data-wow-delay=".2s">不断的努力，严格要求自己，真诚的为客户服务</p>
			</div>
			<div id="owl-demo2" class="owl-carousel team-list wow fadeInUp"  data-wow-delay=".4s">
			    <div class="item">
			    	<a href="#">
			    	<img src="../../img/td1.jpg"/>
			    	<p class="name-t">Aaron</p>
			    	<div class="team-abs">
			    		<h3>资深网页设计师</h3>
			    		<p>（6年网页设计经验）</p>
			    	</div>
			    	</a>
			    </div>
			    <div class="item">
			    	<a href="#">
			    	<img src="../../img/td2.jpg"/>
			    	<p  class="name-t">Aaron</p>
			    	<div class="team-abs">
			    		<h3>资深网页设计师</h3>
			    		<p>（6年网页设计经验）</p>
			    	</div>
			    	</a>
			    </div>
			    <div class="item">
			    	<a href="#">
			    	<img src="../../img/td3.jpg"/>
			    	<p class="name-t">Aaron</p>
			    	<div class="team-abs">
			    		<h3>资深网页设计师</h3>
			    		<p>（6年网页设计经验）</p>
			    	</div>
			    	</a>
			    </div>
			    <div class="item">
			    	<a href="#">
				    	<img src="../../img/td4.jpg"/>
				    	<p class="name-t">Aaron</p>
				    	<div class="team-abs">
				    		<h3>资深网页设计师</h3>
				    		<p>（6年网页设计经验）</p>
				    	</div>
			    	</a>
			    </div>
			    <div class="item">
			    	<a href="#">
			    	<img src="../../img/td1.jpg"/>
			    	<p class="name-t">Aaron</p>
			    	<div class="team-abs">
			    		<h3>资深网页设计师</h3>
			    		<p>（6年网页设计经验）</p>
			    	</div>
			    	</a>
			    </div>
			    <div class="item">
			    	<a href="#">
			    	<img src="../../img/td2.jpg"/>
			    	<p class="name-t">Aaron</p>
			    	<div class="team-abs">
			    		<h3>资深网页设计师</h3>
			    		<p>（6年网页设计经验）</p>
			    	</div>
			    	</a>
			    </div>

			</div>
		</div>
	</section>
		
<!--_footer 作为公共模版分离出去-->
	{include file="common/footer"}
<!--/_footer 作为公共模版分离出去-->
