<!--/hearder 作为公共模版分离出去-->
{include file="common/hearder"}
<title>案例欣赏</title>	
{include file="common/top"}
<!--/hearder 作为公共模版分离出去-->
		
		<section class="container page clearfix">
			<div class="page-tit wow fadeInUp">案例详情</div>
			<div class="al-tit">
				<h1 class="wow fadeInUp">美吉特集团品牌建设与管理 <span>品牌建设、品牌推广、网站设计</span></h1>
			</div>
			
			
			<div id="owl-demo3" class="owl-carousel wow fadeInUp">
			    <div class="item"><img src="../../img/alt1.jpg" alt=""></div>		    
			</div>
			
			<div class="clearfix al-dbox">
				<div class="l-box pull-left wow bounceInLeft">
					<h3 class="product-title">项目介绍</h3>
					<div class="text-box">
						<p>背景：美吉特集团发端于1993年，是国内最早从事专业市场开发的现代化大型企业之一，历经20年，在可持续化发展的道路上走出了集团化的特色，形成了规模化、多元化的发展基础，在百舸争流的市场中，迈出了打造“百年品牌企业”的坚实步伐。美吉特集团携手上知，对其进行品牌建设与管理，以期在新一轮的市场竞争中不断提升公司品牌价值。</p><br />
<p>洞察：一个集团的品牌形象应当符合该集团的企业文化及企业愿景，上知为美吉特选用充满文化内涵的蓝色，彰显国际化的集团管理模式与厚实浓重的集团文化素养；同时借助具象的图腾，述说“大象无形”的集团精神理念，展现包容、豁达的美吉特。</p><br />
<p>战略：上知对美吉特集团的品牌核心价值进行了提炼，将其品牌特质定义为“卓越、专业、创新、诚信、以人为本”，将其主题推广广告语定为“因专注，而不同”，彰显了美吉特集团对于卓越品质和创新精神的执着与坚持。</p>
					</div>
				</div>
				
				<div class="r-box pull-right wow bounceInRight">
					<h3 class="product-title">美吉特集团</h3>
					<ul class="xm-mx">
						<li>客户：美吉特集团</li>						
						<li>行业：房产建筑</li>
						<li>日期：2016年1月</li>
						<li>服务：品牌设计、网络新媒体</li>
						<li>评价：卓越、专业、创新、诚信、因专注、而不同</li>
					</ul>
				</div>
			</div>
		</section>
		
<!--_footer 作为公共模版分离出去-->
	{include file="common/footer"}
<!--/_footer 作为公共模版分离出去-->