
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<div id="isShow" style="display:none">{$uid}</div>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/index/product_brand')}" data-title="首页管理" href="javascript:void(0)">首页管理</a></li>
					<li><a data-href="{:url('admin/index/al')}" data-title="案例管理" href="javascript:void(0)">案例管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/index/article_list')}" data-title="新闻资讯" href="javascript:void(0)">新闻资讯</a></li>
					<li><a data-href="{:url('admin/index/connet')}" data-title="联系我们" href="javascript:void(0)">联系我们</a></li>
					<li><a data-href="{:url('admin/index/about')}" data-title="关于我们" href="javascript:void(0)">关于我们</a></li>
			</ul>
		</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/index/admin_role')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('admin/index/admin_permission')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a data-href="{:url('admin/index/member_list')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
			</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>