{include file="common/meta"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 关于我们 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>区域</th>
					<th>内容</th>
				</tr>
			</thead>
			<form action="{:url('admin/index/about_update')}" method="post">
			<input type="hidden" name="id" value="{$id}">
			<tbody>
				<tr class="text-c">
					<td>
						公司理念
					</td>
					<td>
						<textarea name="confind" style="width:800px;height:400px;">
							{$confind}
						</textarea>
					</td>
				</tr>
				<tr class="text-c">
					<td>
						关于我们
					</td>
					<td>
						<textarea name="content" style="width:800px;height:400px;">
							{$content}
						</textarea>
					</td>
				</tr>
				<tr class="text-c">
					<td>
						中间的标题
					</td>
					<td>
						<textarea name="centent_title" style="width:800px;height:100px;margin-left:38px;" maxlength="30">
							{$centent_title}
						</textarea><span style="color:red;">1~10字</span>
					</td>
				</tr>
				<tr class="text-c">
					<td>
						中间的内容
					</td>
					<td>
						<textarea name="centent_content" style="width:800px;height:400px;">
							{$centent_content}
						</textarea>
					</td>
				</tr>
				<tr class="text-c">
					<td>
						操作
					</td>
					<td>
						<input type="submit" name="" value="确认编辑">
					</td>
				</tr>
			</tbody>
			</form>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
	
	{include file="common/footer"}

<!--/_footer 作为公共模版分离出去-->