{include file="common/meta"}
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="用户名称" id="username" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="密码" id="password" name="password">
			</div>
			<div class="formControls col-xs-8 col-sm-9" style="margin-left:200px;margin-top:10px;">
				<input type="checkbox" name="" id="showpwd"><label>显示密码</label>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="联系电话" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
	
	{include file="common/footer_master"}
<script type="text/javascript">
$(document).ready(function () {
	$("#submit").on('click', function() {
		var formdata = $('#form-member-add').serialize();
		/*var name = $("#username").val();
		var pwd = $("#password").val();
		var phone = $("#mobile").val();
		var bz = $(".textarea").val();*/
		//console.log(name);
		$.ajax({
				url: "{:url('admin/index/member_inser')}",
				async: false,
				//data:{name:name,pwd:pwd,phone:phone,bz:bz},
				data:formdata,
				dataType:'json',
				success:function(data) {
					//console.log('success');
					if(data.status == 1) {
						var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.msg('添加成功', {icon: 6,time:4000}); //添加成功后提示
                        window.parent.location.reload() //刷父界面
                        parent.layer.close(index); //关闭弹层的窗口
					} else {
						parent.layer.msg('添加失败', {icon: 5,time:2000});
					}
				},
				error:function(data) {
					parent.layer.msg('添加失败', {icon: 5,time:2000});
					var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index); //关闭弹层的窗口
				}
			})
	});

	$("#showpwd").on('click',function() {
		var isCheck = $("#password").attr("type");
		console.log(isCheck);
		$("#password").attr('type','text');
		if(isCheck === 'text') {
			$("#password").attr('type','password');
		}
	})
})
</script> 
</body>
</html>