{include file="common/meta"}
<title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	<input type="hidden" name="uid" value="{$uid}" id="hide_id">	
	<img class="avatar size-XL l" src="../../static/h-ui/images/ucnter/avatar-default.jpg" onclick="fileSelect()" title="点击更换头像" />
	<form id="form_face" method="post" enctype="multipart/form-data">
		<input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" style="display:none;">
	</form>
	
	<dl style="margin-left:80px; color:#fff">
		<dt>
			<span class="f-18">{$username}</span>
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0"><span class="pl-10 f-12">上次登陆时间：</span></dd>
	</dl>
</div>
<div class="pd-20">
	<table class="table">
		<tbody>
			<tr>
				<th class="text-r">角色：</th>
				<td></td>
			</tr>
			<tr>
				<th class="text-r">权限：</th>
				<td></td>
			</tr>
			<tr>
				<th class="text-r">手机：</th>
				<td>{$phone}</td>
			</tr>
			<tr>
				<th class="text-r">密码：</th>
				<td>{$pwd}</td>
			</tr>
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="../../js/ajax.js"></script>

<script type="text/javascript">
/*头像上传*/
function fileSelect() {
	document.getElementById("fileToUpload").click();
}

function fileSelected() {
	var file = $("#fileToUpload").val();
	var hide_id = $("#hide_id").val();
	console.log(file);
	console.log(hide_id);
	ajax.request({
        url:"{:url('admin/user/upload')}?"+"hide_id="+hide_id+ "&&" +"file="+file,
        type:'get',
        jsonp:'callback',
		//data:{name:12345},
        callback:function(data){
            //console.log(data);
            var obj = JSON.parse(data);
            if(obj.state == 1){
            	console.log('success');
            } else {
            	console.log('error');
            }
        }
    });
}
/*function upload(i) {
	//var u = document.getElementsByClassName('text-c');
	console.log(i);
	 ajax.request({
        url:"{:url('admin/user/upload')}?"+"id="+i,
        type:'get',
        jsonp:'callback',
		//data:{name:12345},
        callback:function(data){
            //console.log(data);
            var obj = JSON.parse(data);
            if(obj.state == 1){
            	console.log('success');
            } else {
            	console.log('error');
            }
        }
    });
}*/
</script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>